In [1]:
%load_ext autoreload
%autoreload 2

# Proporciona funciones para interactuar con el sistema operativo (como rutas de archivos).
import os  

# Permite modificar aspectos del entorno de ejecuci√≥n de Python, como la lista de rutas de b√∫squeda de m√≥dulos (sys.path).
import sys 

# En notebooks, usa la ruta del notebook actual
root_dir = os.path.abspath('..')  # Sube un nivel desde /notebooks/
sys.path.append(root_dir)

import pandas as pd
pd.set_option('display.float_format', '{:.2f}'.format)
pd.set_option('display.max_columns', None)

# Importa las funciones personalizadas desde utils.
import utils.functions_Python_BBDD as f

# **üìÅ 1. Cargar un DataFrame desde Excel y subirlo a SQL Server**

In [8]:
# Ruta del archivo Excel
ruta_excel = r"C:\Users\jubeda2\Desktop\Programacion\Importador Tablas a la BBDD con python\data\Tablas_noGIS prueba\Desembarques extranjeros 2023.xlsx"

# Leer el archivo Excel
df_desembarques = pd.read_excel(ruta_excel)

# Subir a la BBDD
f.importar_dataframe_a_sqlserver(
    df=df_desembarques,
    nombre_tabla="Desembarques_Extranjeros_2023",
    database_key="SGP_SIPE_EXPLOTACION",  
    esquema="dbo",
    if_exists="replace",
)

‚è´ Importando a SGP_SIPE_EXPLOTACION.dbo.Desembarques_Extranjeros_2023 ...
üî¢ Filas: 18825, Columnas: 17
‚úÖ Importaci√≥n completada con √©xito.

# **üåç 2. Importar un shapefile con geometr√≠a a SQL Server**

In [3]:
ruta_shapefile = r"C:\Users\jubeda2\Desktop\Directorio de trabajo REDMINE\#8034 - Huella pesquera e informes de actividad en espacios INDEMARES\Informacion de la consulta\Intermares\LIC_Intemares_com_zon_MMED_MATL_20250218.shp"

f.importar_shapefile_a_sqlserver(
    ruta_shapefile=ruta_shapefile,
    nombre_tabla="LIC_Intemares_com_zon_MMED_MATL_20250218",
    database_key="SGP_SIPE_EXPLOTACION",
)

Shapefile cargado correctamente en la tabla [dbo].[LIC_Intemares_com_zon_MMED_MATL_20250218].

# **üîç 3. Ejecutar una consulta SQL sobre la base de datos**

In [4]:
query = "SELECT * FROM dbo.Zones_Prioritaires_AO10"
df_zones_prioritarias = f.ejecutar_consulta_sql(query, database_key="SGP_SIPE_EXPLOTACION")

# Mostrar las primeras filas del DataFrame resultante
df_zones_prioritarias.head()

,surf_km2,date_zp,LIBELLE,FACADE,NOM,TECHNO,Shape_Leng,Shape_Area,Commentair,geometry_WKT,geometry_GEOM
0,250.0,2030,Zones prioritaires retenues pour la proc√©dure ...,SA,GGS,Flottant,0.831666,0.029068,Il est envisag√© que le parc √©olien GGS soit ra...,POLYGON Z ((-2.882563272776679 46.049756199888...,b'\xe6\x10\x00\x00\x01\x05\r\x00\x00\x00\x00\x...
1,400.0,2035,Zones prioritaires retenues pour la proc√©dure ...,MED,GLC,Flottant,0.920092,0.044037,None,POLYGON Z ((3.9595230392570215 42.930123411366...,b'\xe6\x10\x00\x00\x01\x05\n\x00\x00\x00\x80\x...
2,350.0,2030,Zones prioritaires retenues pour la proc√©dure ...,NAMO,BNO,Flottant,0.997781,0.043071,None,POLYGON Z ((-3.838838573741043 48.920359459021...,b'\xe6\x10\x00\x00\x01\x05\x1a\x00\x00\x00\x80...
3,483.0,2030,Zones prioritaires retenues pour la proc√©dure ...,MEMN,FGL d√©cision ministre,Pos√©,1.444607,0.074210,None,POLYGON Z ((0.012677000143583 49.9532259995804...,b'\xe6\x10\x00\x00\x01\x05\x15\x00\x00\x00\x10...

In [2]:
query = "SELECT TOP 10* FROM xeares.consumo WHERE PesoConsumo = 0"
df_buques = f.ejecutar_consulta_sql(query, database_key="SGP_SIPE")

# Mostrar las primeras filas del DataFrame resultante
df_buques.head()

,Id,IdDiario,IdDiarioDesembarque,IdNotaDeVenta,IdNotaDeVenta3Pais,IdCertCapturas,IdCaptura,IdCapturaEspecie,IdDesembarqueEspecie,IdBuque,IdEspecie,IdEspecieGenerica,IdPresentacion,IdConservacion,IdDivision,IdGSA,IdArte,FcSalida,FcRegreso,FcCaptura,FcDesembarque,NumDiario,IdPaisBandera,IdPaisCaptura,PesoConsumo,PesoConsumoBajoTalla,PesoCapturado,PesoCapturadoBajoTalla,FactorConversion,PesoDesembarcado,PesoDesembarcadoBajoTalla,PesoDesembarcadoVivo,PesoDesembarcadoVivoBajoTalla,PesoNotaVenta,PesoNotaVentaVivo,PesoCertCapturas,PesoCertCapturasVivo,PesoRetenido,PesoRetenidoBajoTalla,Desembarcado,IdOrigenConsumo,IdStock,PesoTransbordado,PesoTransbordadoBajoTalla,IdTransbordo,FcCalculo,VersionAlgoritmo,Algoritmo,IdTransaccion,IdStockCientifico,IdStockEspecial
0,402810208,NaN,NaN,84773512.00,None,None,NaN,None,None,49393170,4791,4812,1,1,129,61560,77416547,2025-06-30 00:00:00.0000000,2025-06-30 00:00:00.0000000,2025-06-30 00:00:00.0000000,2025-06-30 00:00:00.0000000,NaN,724,724,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,5.75,5.75,NaN,NaN,0.00,0.00,True,10,None,None,None,None,2025-07-14 06:43:10.8609,2.4.0,ConDM,886314214,None,None
1,402810209,NaN,NaN,84773518.00,None,None,NaN,None,None,49393170,9409,10859,1,1,129,61560,77416547,2025-06-30 00:00:00.0000000,2025-06-30 00:00:00.0000000,2025-06-30 00:00:00.0000000,2025-06-30 00:00:00.0000000,NaN,724,724,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,2.55,2.55,NaN,NaN,0.00,0.00,True,10,None,None,None,None,2025-07-14 06:43:10.8609,2.4.0,ConDM,886314214,None,None
2,402810210,NaN,NaN,84773526.00,None,None,NaN,None,None,49393170,4196,4204,1,1,129,61560,77416547,2025-06-30 00:00:00.0000000,2025-06-30 00:00:00.0000000,2025-06-30 00:00:00.0000000,2025-06-30 00:00:00.0000000,NaN,724,724,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,7.65,7.65,NaN,NaN,0.00,0.00,True,10,None,None,None,None,2025-07-14 06:43:10.8609,2.4.0,ConDM,886314214,None,None
3,402810214,NaN,NaN,84889067.00,None,None,NaN,None,None,49393170,4698,4783,1,1,129,61560,77416547,2025-07-03 00:00:00.0000000,2025-07-03 00:00:00.0000000,2025-07-03 00:00:00.0000000,2025-07-03 00:00:00.0000000,NaN,724,724,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,4.60,4.60,NaN,NaN,0.00,0.00,True,10,None,None,None,None,2025-07-14 06:43:10.8609,2.4.0,ConDM,886314214,None,None
4,402810215,NaN,NaN,84889078.00,None,None,NaN,None,None,49393170,9557,9590,1,1,129,61560,77416547,2025-07-03 00:00:00.0000000,2025-07-03 00:00:00.0000000,2025-07-03 00:00:00.0000000,2025-07-03 00:00:00.0000000,NaN,724,724,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,8.00,8.00,NaN,NaN,0.00,0.00,True,10,None,None,None,None,2025-07-14 06:43:10.8609,2.4.0,ConDM,886314214,None,None